<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>
        Home Page
    </h1>

    <form action="/users" method="post">
        <div class="user_name">
         
            <input type="text" name="name" placeholder="Enter Name" id="name">
        </div>
        <div class="user_mail">

            <input type="text" name="mail" placeholder="Enter Mail Address" id="mail">
        </div>

        <div class="user_age">
         
            <input type="number" name="age" placeholder="Enter Age" id="age">

        </div>

        <div class="user_create_button">
            <button type="submit">
                Save User
            </button>
        </div>
    </form>

</body>

</html>